<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo Tecnológico</title>
    <link rel="stylesheet" href="../style/catalogo.css">
    <link rel="stylesheet" href="../style/computador.css">
    <link rel="stylesheet" href="../style/celular.css">
    <link rel="stylesheet" href="../style/playStation.css">
    <link rel="stylesheet" href="../style/tablet.css">
</head>

<body>
    <div class="container">
        <h1 class="main-title">TechStore</h1>
        <p class="main-subtitle">Tu tienda de confianza</p>

        <h1 class="catalog-title">Categorías de tecnología</h1>
        <p class="catalog-subtitle">Los mejores productos tecnológicos al mejor precio</p>

        <div class="products-grid">
            <!-- Producto 1: Celulares -->
            <div class="product-card">
                <img src="../assets/celulares.png" alt="marcasCell" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Celulares</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                    <a href="../templates/celular.html" class="buy-button">Ver Marcas</a>
                </div>
            </div>

            <!-- Producto 2: Computadores -->
            <div class="product-card">
                <img src="../assets/computadores.png" alt="MacBook Pro M4" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Computadores</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                    <a href="../templates/computador.html" class="buy-button">Ver Marcas</a>
                </div>
            </div>

            <!-- Producto 3: Tablets -->
            <div class="product-card">
                <img src="../assets/tablets.png" alt="iPad Pro" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Tablets</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                    <a href="../templates/tablet.html" class="buy-button">Ver Marcas</a>
                </div>
            </div>

            <!-- Producto 4: Consolas de videoJuegos -->
            <div class="product-card">
                <img src="../assets/consolas.png" alt="PlayStation 5" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Consolas de VideoJuegos</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                    <a href="../templates/playStation.html" class="buy-button">Ver Marcas</a>
                </div>
            </div>

            <!-- Producto 5: Camaras -->
            <div class="product-card">
                <img src="../assets/camaras.png" alt="iPad Pro" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Camaras</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                </div>
            </div>

            <!-- Producto 6: Monitores-->
            <div class="product-card">
                <img src="../assets/monitores.png" alt="iPad Pro" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Monitores</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                </div>
            </div>

            <!-- Producto 7: Televisores -->
            <div class="product-card">
                <img src="../assets/Televisores.png" alt="iPad Pro" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Televisores </h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                </div>
            </div>

            <!-- Producto 8: SmartWash -->
            <div class="product-card">
                <img src="../assets/smart Wash.png" alt="iPad Pro" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">SmartWash</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                </div>
            </div>

            <!-- Producto 9: Audifonos -->
            <div class="product-card">
                <img src="../assets/Audifonos.png" alt="iPad Pro" class="product-image">
                <div class="product-info">
                    <h3 class="product-name">Audifonos</h3>
                    <p class="product-description">Encuentra aquí el ideal entre nuestra variedad de modelos que se
                        adaptan a cualquier estilo y presupuesto.</p>
                </div>
            </div>

        </div>
    </div>

</body>

</html>